---
// Import the necessary dependencies
import FooterSocialLink from "~/components/ui/FooterSocialLink.astro";
import EmailFooterInput from "~/components/ui/EmailFooterInput.astro";
import { footerData /* , headerData */ } from "~/navigation";
import { socialLinks } from "~/navigation2";
import Logo from "~/components/Logo.astro";

// Define the variables that will be used in this component
const sectionThreeTitle: string = "Stay up to date";
const sectionThreeContent: string =
  "Stay updated with the latest security tips.";
---

<footer class="w-full bg-neutral-300 dark:bg-neutral-900">
  <div
    class="mx-auto w-full max-w-[85rem] px-4 py-10 sm:px-6 lg:px-16 lg:pt-20 2xl:max-w-screen-2xl"
  >
    <div class="grid grid-cols-2 gap-6 md:grid-cols-4 lg:grid-cols-5">
      <div class="col-span-full lg:col-span-1">
             
        <Logo/>
      </div>
      <!-- An array of links for Product and Company sections -->
      {
        footerData.links.map((title) => (
          <div class="col-span-1">
            <h3 class="font-bold text-neutral-800 dark:text-neutral-200">
              {title.title}
            </h3>
            <ul class="mt-3 grid space-y-3">
              {title.links.map((link, index) => (
                <li>
                  <a
                    href={link.href}
                    class="inline-flex gap-x-2 rounded-lg text-neutral-600 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-500 focus-visible:ring dark:text-neutral-400 dark:ring-zinc-200 dark:hover:text-neutral-300 dark:focus:outline-none dark:focus:ring-1"
                  >
                    {link.text}
                  </a>
                  {title.title === "Company" && index === 2 ? (
                    <span class="ms-1 inline rounded-lg bg-[#e14d0b] px-2 py-1 text-xs font-bold text-neutral-50">
                      We're hiring!
                    </span>
                  ) : null}
                </li>
              ))}
            </ul>
          </div>
        ))
      }

        
           
       
        
      

      <div class="col-span-2">
        <h3 class="font-bold text-neutral-800 dark:text-neutral-200">
          {sectionThreeTitle}
        </h3>

        <form>
          <EmailFooterInput />
          <p class="mt-3 text-sm text-neutral-600 dark:text-neutral-400">
            {sectionThreeContent}
          </p>
        </form>
      </div>
    </div>

    <div class="mt-9 grid gap-y-2 sm:mt-12 sm:flex sm:items-center sm:justify-between sm:gap-y-0">
      <div class="flex items-center justify-between">
        <p class="text-sm text-neutral-600 dark:text-neutral-400">
          © <span id="current-year"></span> Digital Link Technology
          <a
            class="font-medium underline underline-offset-2 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-700 hover:decoration-dashed focus:outline-none rounded-lg focus-visible:ring dark:ring-zinc-200 dark:hover:text-neutral-300"
            href="https://digiimpact.ae"
            target="_blank"
            rel="noopener noreferrer">DIGIIMPACT</a
          >.
        </p>
      </div>
      <div>
        <FooterSocialLink url={socialLinks.facebook}
          ><svg
            class="h-4 w-4 flex-shrink-0 fill-current text-neutral-700 dark:text-neutral-400"
            fill="currentColor"
            role="img"
            viewBox="0 0 24 24"
            ><title>Facebook</title><path
              d="M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978.401 0 .955.042 1.468.103a8.68 8.68 0 0 1 1.141.195v3.325a8.623 8.623 0 0 0-.653-.036 26.805 26.805 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.686 1.686 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647Z"
            ></path></svg
          >
        </FooterSocialLink>

        <FooterSocialLink url={socialLinks.x}
          ><svg
          class="h-4 w-4 flex-shrink-0 fill-current text-neutral-700 dark:text-neutral-400"
          fill="currentColor"
          role="img"
          viewBox="0 0 24 24"
          ><title>Facebook</title><path
            d="M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978.401 0 .955.042 1.468.103a8.68 8.68 0 0 1 1.141.195v3.325a8.623 8.623 0 0 0-.653-.036 26.805 26.805 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.686 1.686 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647Z"
          ></path></svg
        ></FooterSocialLink
        >

        <FooterSocialLink url={socialLinks.github}
          ><svg
            class="h-4 w-4 flex-shrink-0 fill-current text-neutral-700 dark:text-neutral-400"
            fill="currentColor"
            role="img"
            viewBox="0 0 24 24"
            ><title>GitHub</title><path
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            ></path></svg
          >
        </FooterSocialLink>

        <FooterSocialLink url={socialLinks.google}
          ><svg
          class="h-4 w-4 flex-shrink-0 fill-current text-neutral-700 dark:text-neutral-400"
          fill="currentColor"
          role="img"
          viewBox="0 0 24 24"
          ><title>Google</title><path
            d="M12.48 10.92v3.28h7.84c-.24 1.84-.853 3.187-1.787 4.133-1.147 1.147-2.933 2.4-6.053 2.4-4.827 0-8.6-3.893-8.6-8.72s3.773-8.72 8.6-8.72c2.6 0 4.507 1.027 5.907 2.347l2.307-2.307C18.747 1.44 16.133 0 12.48 0 5.867 0 .307 5.387.307 12s5.56 12 12.173 12c3.573 0 6.267-1.173 8.373-3.36 2.16-2.16 2.84-5.213 2.84-7.667 0-.76-.053-1.467-.173-2.053H12.48z"
          ></path></svg
        >
        </FooterSocialLink>

        <FooterSocialLink url={socialLinks.instagram}
          ><svg
            class="h-4 w-4 flex-shrink-0 fill-current text-neutral-700 dark:text-neutral-400"
            fill="currentColor"
            role="img"
            viewBox="0 0 24 24"
            ><title>Instagram</title><path
            d="M12.48 10.92v3.28h7.84c-.24 1.84-.853 3.187-1.787 4.133-1.147 1.147-2.933 2.4-6.053 2.4-4.827 0-8.6-3.893-8.6-8.72s3.773-8.72 8.6-8.72c2.6 0 4.507 1.027 5.907 2.347l2.307-2.307C18.747 1.44 16.133 0 12.48 0 5.867 0 .307 5.387.307 12s5.56 12 12.173 12c3.573 0 6.267-1.173 8.373-3.36 2.16-2.16 2.84-5.213 2.84-7.667 0-.76-.053-1.467-.173-2.053H12.48z"
            ></path></svg
          >
        </FooterSocialLink>
      </div>
      <!-- Social Brands -->
      
    </div>

    <script>
      const year = new Date().getFullYear();
      const element = document.getElementById("current-year");
      element!.innerText = year.toString();
    </script>
  </div>
</footer>
