---
// Import the necessary dependencies
import TabNav from "../ui/TabNav.astro";
import TabContent from "../ui/TabContent.astro";
import construction from '~/assets/images/digi2.jpg';
import digiimpact from '~/assets/images/digit.jpg';
import dashboard from '~/assets/images/dahua.jpg';
const title: string = `Welcome to<span class="text-blue-500 ml-2 dark:text-yellow-400">Digital Link Technology</span>`;
---

<section
  class="mx-auto max-w-[85rem] px-0 py-2 sm:px-2 lg:px-2 lg:py-2 2xl:max-w-full"
>
  <div class="relative p-0 md:p-2">
    <div
      class="relative z-10 lg:grid lg:grid-cols-12 lg:items-center lg:gap-2"
    >
      <!-- Section's heading and tab navigation -->
      <div class="mb-10 lg:order-2 lg:col-span-6 lg:col-start-8 lg:mb-0">
        <h2 class="text-2xl font-bold text-neutral-800 dark:text-neutral-200 sm:text-3xl">
          
          <Fragment set:html={title} />
        </h2>
        <!-- Tab navigation - use the attribute 'first' in the first TabNav for the component to work -->
        <nav class="mt-5 grid gap-4 md:mt-10" aria-label="Tabs" role="tablist">
          <TabNav
            id="tabs-with-card-item-1"
            dataTab="#tabs-with-card-1"
            aria="tabs-with-card-1"
            heading="Discover Our Range of UNV Cameras"
            content="At Digital Link Technology, we offer a diverse selection of UNV cameras designed to meet the demands of any surveillance environment. From high-definition dome cameras to advanced PTZ models, our UNV camera lineup delivers unparalleled performance, reliability, and clarity. Explore our product catalog to find the perfect solution for your security needs, backed by our expert guidance and support every step of the way"
            first={true}
          >
            <svg
              class="mt-2 h-6 w-6 flex-shrink-0 fill-neutral-700 hs-tab-active:fill-[#fa5a15] dark:fill-neutral-300 dark:hs-tab-active:fill-[#fb713b] md:h-7 md:w-7"
              height="48"
              viewBox="0 -960 960 960"
              width="48"
              ><path
                d="M764-80q-6 0-11-2t-10-7L501-331q-5-5-7-10t-2-11q0-6 2-11t7-10l85-85q5-5 10-7t11-2q6 0 11 2t10 7l242 242q5 5 7 10t2 11q0 6-2 11t-7 10l-85 85q-5 5-10 7t-11 2Zm0-72 43-43-200-200-43 43 200 200ZM195-80q-6 0-11.5-2T173-89l-84-84q-5-5-7-10.5T80-195q0-6 2-11t7-10l225-225h85l38-38-175-175h-57L80-779l99-99 125 125v57l175 175 130-130-67-67 56-56H485l-18-18 128-128 18 18v113l56-56 169 169q15 15 23.5 34.5T870-600q0 20-6.5 38.5T845-528l-85-85-56 56-52-52-211 211v84L216-89q-5 5-10 7t-11 2Zm0-72 200-200v-43h-43L152-195l43 43Zm0 0-43-43 22 21 21 22Zm569 0 43-43-43 43Z"
              ></path></svg
            >
          </TabNav>

          <TabNav
            id="tabs-with-card-item-2"
            dataTab="#tabs-with-card-2"
            aria="tabs-with-card-2"
            heading="Comprehensive UNV Camera Solutions"
            content="In addition to our extensive range of UNV cameras,Digital Link Technology provides a comprehensive suite of services to ensure your surveillance system operates at peak performance. From installation and configuration to maintenance and technical support, our team of experts is here to assist you every step of the way. Trust [Your Company Name] for all your UNV camera needs, and experience the difference of working with a dedicated partner committed to your satisfaction."
          >
            <svg
              class="mt-2 h-6 w-6 flex-shrink-0 fill-neutral-700 hs-tab-active:fill-[#fa5a15] dark:fill-neutral-300 dark:hs-tab-active:fill-[#fb713b] md:h-7 md:w-7"
              height="48"
              viewBox="0 -960 960 960"
              width="48"
              ><path
                d="M510-570v-270h330v270H510ZM120-450v-390h330v390H120Zm390 330v-390h330v390H510Zm-390 0v-270h330v270H120Zm60-390h210v-270H180v270Zm390 330h210v-270H570v270Zm0-450h210v-150H570v150ZM180-180h210v-150H180v150Zm210-330Zm180-120Zm0 180ZM390-330Z"
              ></path></svg
            >
          </TabNav>

          <TabNav
            id="tabs-with-card-item-3"
            dataTab="#tabs-with-card-3"
            aria="tabs-with-card-3"
            heading="Stay Informed with the Latest in Surveillance Technology"
            content="Welcome to the Digital Link Technology blog, your source for informative articles, tips, and insights on UNV cameras and surveillance technology. Whether you're looking for advice on choosing the right camera for your needs or want to stay updated on the latest industry trends, our blog has you covered. Check back regularly for new content, and empower yourself with the knowledge you need to make informed decisions about your security system"
          >
            <svg
              class="h-6 w-6 flex-shrink-0 text-neutral-700 hs-tab-active:text-[#fa5a15] dark:text-neutral-300 dark:hs-tab-active:text-[#fb713b] md:h-7 md:w-7"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819"
              ></path>
            </svg>
          </TabNav>
        </nav>
      </div>

      <!-- Contents for each tab - the 'first' attribute should be used in the first tab for that tab to be initially visible, 'second' changes the styles -->
      <div class="lg:col-span-6">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <div>
            <TabContent
              id="tabs-with-card-1"
              aria="tabs-with-card-item-1"
              src={construction}
              alt="Yellow and black heavy equipment on brown grass field"
              first={true}
            />
            <TabContent
              id="tabs-with-card-2"
              aria="tabs-with-card-item-2"
              src={dashboard}
              alt="A screenshot or graphic representation of the intuitive dashboard"
              second={true}
            />
            <TabContent
              id="tabs-with-card-3"
              aria="tabs-with-card-item-3"
              src={digiimpact}
              alt="Gray metal building frame near tower crane during daytime"
            />
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<script is:inline src="/scripts/vendor/preline/tabs/index.js"></script>
