---
import Layout from '~/layouts/Layout.astro';
import ProductCard from '~/components/ProductCard.astro';
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const product: CollectionEntry<"products">[] = (
  await getCollection("products")
).sort(
  (a: CollectionEntry<"products">, b: CollectionEntry<"products">) =>
    a.data.main.id - b.data.main.id,
);
const title: string = "unv products listing Page";
const subTitle: string ="Why choose unvdubai to buy unv products from dubai";
const structuredData =
  {
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": title,
  "description": subTitle,
  "url": `${Astro.url.origin}/products`,
  "numberOfItems": 10,
  "itemListElement": product.map((p) => {
    return {
      "@type": "ListItem",
      "position": p.data.main.id,
      "url":  `${Astro.url.origin}/products/${p.slug} `,
      "name": p.data.main.title,
      "image": "name",
      "offers": {
        "@type": "Offer",
        "priceCurrency": "AE",
        "availability": "https://schema.org/InStock"
      }
    }
  })
}
---
<Layout title={title} structuredData={structuredData}>
<div class="grid grid-cols-1 w-full gap-4 p-8 lg:grid-cols-5 sm:grid-cols-2 md:gap-6 xl:gap-8">

  {
      product.map((product, index) => (<ProductCard product={product} />)
   )
  }
   
  </div>
  
</Layout>